@page "{id:int}"
@model CRUD.Pages.EditModel
@using CRUD.Models
@{
	ViewData["Title"] = "Edit";
}

<body style="background-color:#FFFBE1;">
<h1>Edit Employee Details</h1>

<hr />

<form method="post">
<table class="table">
	<tr>
		<td>Employee Id : @Html.DisplayFor(model =>model.DisplayRecord.Empid)</td>
	</tr>
	<tr>
		<td>Employee Name : <input type="text" asp-for="DisplayRecord.Empname"/></td>
	</tr>
	<tr>
		<td>Email : <input type="email" asp-for="DisplayRecord.Email"/></td>
	</tr>
	<tr>
		<td>Age : <input type="text" asp-for="DisplayRecord.Age" /></td>
	</tr>
	<tr>
		<td>Salary : <input type="text" asp-for="DisplayRecord.Salary" /></td>
	</tr>
</table>

<input type="submit" value="Edit" />
<a asp-page="Index">Back to List</a>
</form>

</body>

